{% extends 'base.html.twig' %}

{% block title %}Wow Chronicles - Editer {{ type.nom }}{% endblock %}

{% block body %}
    <h1>Editer {{ type.nom }}</h1>

    {{ include('type/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('type/_delete_form.html.twig') }}

    <a href="{{ path('type_index') }}">Retour à la liste</a>
{% endblock %}
