{% extends 'base.html.twig' %}

{% block title %}Wow Chronicles - Demande de contact de {{ contact_message.pseudo }}{% endblock %}

{% block body %}
    <h1>Demande de contact de {{ contact_message.pseudo }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Pseudo</th>
                <td>{{ contact_message.pseudo }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact_message.email }}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ contact_message.sujet }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ contact_message.message | raw }}</td>
            </tr>
            <tr>
                <th>Crée le </th>
                <td>{{contact_message.createdAt ? contact_message.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contact_message_index') }}">Retour à la liste</a>

    {{ include('contact_message/_delete_form.html.twig') }}
{% endblock %}
