{% extends 'base.html.twig' %}

{% block title %}Wow Chronicles - Editer {{ video.titre }}{% endblock %}

{% block body %}
    <h1>Editer {{ video.titre }}</h1>

    {{ include('video/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('video/_delete_form.html.twig') }}

    <a href="{{ path('video_index') }}">Retour à la liste</a>
{% endblock %}
