{% extends 'base.html.twig' %}

{% block title %}Wow Chronicles - Liste des vidéos{% endblock %}

{% block body %}
    <h1 class="espaceCustom">Liste des vidéos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Lien</th>
                <th>Description</th>
                <th>Auteur</th>
                <th>Postée le </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>

                <td>{{ video.titre }}</td>
                <td>{{ video.lien| u.truncate(20, '[...]', false) | raw }}</td>
                <td>{{ video.description| u.truncate(50, '[...]', false) | raw }}</td>
                <td>{{ video.auteur }}</td>
                <td>{{ video.postedAt ? video.postedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('video_show', {'id': video.id}) }}">Voir</a>
                    <a href="{{ path('video_edit', {'id': video.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune vidéo trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('video_new') }}">Crée une nouvelle vidéo</a>
{% endblock %}
