{% extends 'base.html.twig' %}

{% block title %}Wow Chronicles - {{ nom }}{% endblock %}

{% block body %}
    <h1 class="centrage espaceCustom">Catégorie : {{ nom }}</h1>
    <hr>
    <section class="article">
        {% for article in articles %}
            <article style="display: flex; align-items: center; flex-direction: column">
                <h2>{{ article.titre}}</h2>
                <div class="metadata espaceCustom">Ecrit le {{ article.createdAt | date('d/m/y') }} à {{ article.createdAt | date('H:i') }}</div>
                <div class="content" style="display: flex; align-items: center; flex-direction: column">
                    <img src="{{ asset(article.image) | imagine_filter('article') }}" alt="" style="width: 40%" class="espaceCustom">
                    <div style="display: flex; flex-direction: row">
                        <p>Tags de l'article :&nbsp</p>
                        {% for tag in article.tags %}
                            <p style="color: {{ tag.couleur }}">#{{ tag.nom }}&nbsp</p>
                        {% endfor %}
                    </div>
                    <p>{{ article.contenu | u.truncate(200,'[...]',false) | raw }}</p>
                    <a href="{{ path('show_article', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>
                </div>
            </article>
            <hr>
        {% endfor %}
    </section>
{% endblock %}