{% extends 'base.html.twig' %}

{% block title %}Wow Chronicles - {{ article.titre }}{% endblock %}

{% block body %}
    <article style="display: flex; align-items: center; flex-direction: column">
        <h2>{{ article.titre}}</h2>
        <div class="metadata espaceCustom">Ecrit le {{ article.createdAt | date('d/m/y') }} à {{ article.createdAt | date('H:i') }} dans la catégorie {{ article.type.nom }}</div>
        <div class="content" style="display: flex; align-items: center; flex-direction: column">
            <img src="{{ asset(article.image) | imagine_filter('article') }}" alt="" style="width: 30%" class="espaceCustom">
            <div style="display: flex; flex-direction: row">
                <p>Tags de l'article :&nbsp</p>
                {% for tag in article.tags %}
                    <p style="color: {{ tag.couleur }}">#{{ tag.nom }}&nbsp</p>
                {% endfor %}
            </div>
            <p>{{ article.contenu | raw }}</p>
        </div>
    </article>
{% endblock %}