{% extends 'base.html.twig' %}

{% block title %}Wow Chronicles -Liste des articles{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Lien image</th>
                <th>Crée le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.titre }}</td>
                <td>{{ article.contenu| u.truncate(200, '[...]', false) | raw }}</td>
                <td>{{ article.image | u.truncate(20, '[...]', false) | raw }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}">Voir</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun article trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_new') }}">Créer un nouvel article</a>
{% endblock %}
