{% extends 'base.html.twig' %}

{% block title %}Wow Chronicles - Editer {{ app.user.userID }}{% endblock %}

{% block body %}
    <h1>Editer {{ app.user.userID }}</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('user/_delete_form.html.twig') }}

    <a href="{{ path('user_index') }}">Revenir en arrière</a>
{% endblock %}
